@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: d;
    src: url(/assets/font/jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(assets/font/Roboto-Medium.ttf);
}
@font-face {
    font-family: d;
    src: url(assets/font/Roboto.ttf);
}
@font-face {
    font-family: d;
    src: url(assets/font/HelveticaNowText-Regular.ttf);
}


#main{
    position: relative;
    overflow: hidden;
    background-color: #1137ca;
}

/* ---------------------------------     Hero Page      ------------------------------ */


#hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-color: rgb(133, 188, 236); */
}

#hero>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
}

#hero>nav{
    width: 100vw;
    height: 9vh;
    /* background-color: rebeccapurple; */
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

#hero>nav>img{
    width: 5.5%;
}


.right-nav>button{
    padding: 10px 14px ;
    border-radius: 5px;
    border: 1px solid #cfcbcb;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
    font-family: d;
}

.right-nav>button>i{
    color: #fff;
    font-size: 14px;
}

#heroBtm{
    z-index: 3;
    position: absolute;
    /* background-color: red; */
    height: 30vh;
    width: 50vw;
    left: 9%;
    bottom: 9%;
}

#heroBtm>h3{
    font-size: 6.5vw;
    font-weight: 100;
    font-family: d;
    line-height: 1;
    color: #fff
}

#heroBtm-inner{
    position: absolute;
    bottom: 0;
    /* background-color: mediumseagreen; */
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: d;
}

#heroBtm-inner>h4{
    color: #fff;
    width: 50%;
    font-weight: 100;
    font-family: d;
    line-height: 1.7;
}

#heroBtm-inner>button{
    margin-right: 125px;
    border-radius: 25px;
    padding: 14px 32px;
    background-color: #fff;
    color: #0b48ed;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
    cursor: pointer;
}


 /* ---------------------------------      Page 2      ------------------------------ */
 /* DTT - Digital Twin Token */


#DTT-page{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 8.5vw;
    font-family: d;
}

#DTT-page>h3{
    font-weight: 100;
    margin-bottom: 3vw;
    text-transform: uppercase;
    font-size: 1.35vw;
    color: #ffffffd8;
}

#DTT-page>h2{
    font-size: 4.3vw;
    width: 95%;
    font-weight: 100;
    line-height: 1.2;
    color: #dadada69;
}


/* ---------------------------------      Page 3 - Canvas      ---------------------------- */


#page3{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page3>canvas{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}


/* ---------------------------------      Page 4      ---------------------------- */

#stakeholder-page{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1137ca;
    font-family: d;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 8.5vw;
}

#stakeholder-page>h3{
    color: #ffffffd8;
    font-weight: 100;
    margin-bottom: 3vw;
    font-size: 1.35vw;
    text-transform: uppercase;
}

#stakeholder-page>h2{
    line-height: 1.2;
    font-size: 4.3vw;
    font-weight: 100;
    width: 95%;
    color: #dadada69;
}


/* ---------------------------------      Page 5 - Canvas      ---------------------------- */


#page5{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#page5>canvas{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}


/* ---------------------------------      Page 6      ---------------------------- */

#page6{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: d;
    padding: 0 8.5vw;
    background-color: #0a3cce;
}

#page6>h3{
    color: #ffffffd8;
    font-weight: 100;
    margin-bottom: 3vw;
    font-size: 1.35vw;
    text-transform: uppercase;
}

#page6>h2{
    line-height: 1.2;
    font-size: 4.3vw;
    font-weight: 100;
    width: 95%;
    color: #dadada69;
}


/* ---------------------------------      Page 7 - Canvas      ---------------------------- */

#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

#page8-circle{
    height: 30vw;
    width: 30vw;
    /* background-color: yellowgreen; */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page8-innerCircle{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: d;
        font-size: 2.1vw;
        text-transform: uppercase;
}


 /* ---------------------------------      Page 8      --------------------------  */

#page8{
    height:100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
}

#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#pg8-btm{
    z-index: 3;
    position: absolute;
    bottom: 10%;
    /* background-color: yellowgreen; */
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#pg8-btm>h2{
    font-size: 6vw;
    margin-bottom: 2vw;
    font-family: d;
    font-weight: 100;
}

#pg8-btm>button{
    border-radius: 25px;
    padding: 14px 32px;
    background-color: #fff;
    color: #0b48ed;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
    cursor: pointer;
}



/* ---------------------------------      Page 9      --------------------------  */

#page9{
    /* max-height: 100vh; */
    position: relative;
    width: 100vw;
    background-color: #0B3CCC;
    display: flex;
    color: #fff;
    font-family: d;
    padding: 14vw 20px;
}

#pg9-left{
    height: 100%;
    width: 35%;;
    /* background-color: yellow; */
}

#pg9-left>h2{
    margin-top: 2vw;
    font-weight: 100;
    font-size: 6vw;
    text-align: center;
    line-height: 1;
}

#pg9-right{
    height: 100%;
    width: 65%;;
    /* background-color: yellowgreen; */
    padding-right: 7vw;
}

#pg9-img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

#pg9-img>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#pg9-right>h3{
    margin-top: 70px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.7vw;
}

#pg9-right>p{
    color: #ffffffb4;
    margin-bottom: 40px;
    font-size: 1.75vw;
    text-align: justify;
}


/* ---------------------------------      Page 10      --------------------------  */

#page10{
    /* height: 100%;
    width: 100%; */
    padding: 40px 80px ;
    background-color: #fff;
    color: black;
    font-family: d;
}

#page10>h2{
    font-size: 6vw;
    font-weight: 100;
}

#page10 .pg10-inner{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.pg10-inner .pg10-inner-img{
    height: 220px;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.pg10-inner .pg10-inner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: ease 0.3s;
}

.pg10-inner .pg10-inner-img img:hover{
    scale: 1.05;
} 

.pg10-inner .pg10-inner-text{
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.pg10-inner .pg10-inner-text p{
    text-transform: uppercase;
    opacity: 0.6;
}

.pg10-inner .pg10-inner-text h2{
    font-weight: 100;
    opacity: 0.8;
    font-size: 1.9vw;
}

#page10 button{
    border: 1px solid #0a3cce;
    color: #0a3cce;
    background-color: #fff;
    font-size: 1vw;
    padding: 10px 20px;
    border-radius: 25px;
    display: block;
    margin: auto;
}


/* ---------------------------------      Page 11      --------------------------  */


#featured{
    background-color: #02268E;
    position: relative;
    width: 100vw;
    height: 65vh;
    color: #fff;
    font-family: d;
}

#featured #featured-text{
    position: absolute;
    right: 13%;
    top: 25%;
    width: 32%;
}

#featured-text h2{
    font-size: 6vw;
    font-weight: 100;
}

#featured-text p{
    margin-top: 10px;
    opacity: 0.7;
}



/* ---------------------------------      Page 12      --------------------------  */

#social{
    position: relative;
    /* height: 100vh; */
    width: 100vw;
    background-color: #0F0F17;
    color: #fff;
    font-family: d;
}

#social-text{
    padding-top: 110px;
    margin-left: 110px;
}

#social-text>h2{
    font-size: 6.5vw;
    font-weight: 100;
    margin-bottom: 40px;
    line-height: 1;
    font-family: d;
}

#social-text>button{
    border: none;
    background-color: #0A3CCE;
    font-size: 1vw;
    padding: 14px 32px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.9;
    font-family: d;
    margin-bottom: 70px;
    cursor: pointer;
}

#social .social-platform{
    padding: 35px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff3b;
    /* background-color: rgba(255, 255, 0, 0.37); */
    position: relative;
    cursor: pointer;
}

.social-platform:nth-child(6){
    border-bottom: 1px solid #ffffff3b;
}

.social-platform h2{
    font-size: 2.5vw;
    font-weight: 100;
    z-index: 9;
}

.social-platform i{
    font-size: 2.5vw;
    z-index: 9;
}

.overlay{
    position: absolute;
    background-color: #0A3CCE;
    height: 0;
    width: 100%;
    left: 0;
    transition: ease .4s;
}

#social .social-platform:hover .overlay{
    height: 100%;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 120px;
    color: #fff;
    /* background-color: rgba(0, 0, 255, 0.315); */
}

#footer #ftr-left{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: uppercase;
    /* background-color: rgba(255, 255, 0, 0.342); */
    gap: 150px;
}

#ftr-left p {
    font-size: 1vw;
    margin-bottom: 10px;
    font-weight: 100;
}

#ftr-right p{
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 2vw;
}

#ftr-right input{
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff83;
    background-color: transparent;
    padding: 7px 0;
    color: #fff;
    width: 300px;
}

#ftr-right i{
    margin-left: -20px;
}

p.copyright{
    font-size: 1vw;
    text-transform: uppercase;
    margin-left: 120px;
    padding-bottom: 50px;
}













































































@media (max-width:600px) {
    
    #hero{
        width: 100vw;
        height: 100vh;
        position: relative;
        /* background-color: rgb(133, 188, 236); */
    }
    
    #hero>video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position:center;
    }
    
    #hero>nav{
        width: 100vw;
        height: 9vh;
        /* background-color: rebeccapurple; */
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vw 1.5vw;
    }
    
    #hero>nav>img{
        width: 13vw;
    }
    
    
    .right-nav>button{
        padding: 10px 14px ;
        border-radius: 5px;
        border: 1px solid #cfcbcb;
        background-color: transparent;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        margin-right: 15px;
        font-family: d;
    }
    
    .right-nav>button>i{
        color: #fff;
        font-size: 14px;
    }
    
    #heroBtm{
        z-index: 3;
        position: absolute;
        /* background-color: red; */
        min-height: 30vh;
        width: 100%;
        left: 5%;
        top: 35%;
    }
    
    #heroBtm>h3{
        font-size: 11vw;
        font-weight: 100;
        font-family: d;
        line-height: 1.2;
        color: #fff
    }
    
    #heroBtm-inner{
        position: absolute;
        bottom: 0%;
        /* background-color: mediumseagreen; */
        min-height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        font-family: d;
    }
    
    #heroBtm-inner>h4{
        color: #fff;
        width: 100%;
        font-size: 4.5vw;
        font-weight: 100;
        font-family: d;
        line-height: 1.7;
    }
    
    #heroBtm-inner>button{
        margin-left: 10%;
        display: block;
        border-radius: 25px;
        padding: 14px 32px;
        background-color: #fff;
        color: #0b48ed;
        border: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 3vw;
        cursor: pointer;
    }
    
    
     /* ---------------------------------      Page 2      ------------------------------ */
     /* DTT - Digital Twin Token */
    
    
    #DTT-page{
        height: 100vh;
        width: 100vw;
        position: relative;
        background-color: #0a3cce;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 8.5vw;
        font-family: d;
    }
    
    #DTT-page>h3{
        font-weight: 100;
        margin-bottom: 10vw;
        text-transform: uppercase;
        font-size: 3.5vw;
        color: #ffffffd8;
    }
    
    #DTT-page>h2{
        font-size: 7.5vw;
        width: 95%;
        font-weight: 100;
        line-height: 1.2;
        color: #dadada69;
    }
    
    
    /* ---------------------------------      Page 3 - Canvas      ---------------------------- */
    
    
    #page3{
        height: 100vh;
        width: 100vw;
        position: relative;
    }
    
    #page3>canvas{
        max-width: 100vw;
        max-height: 100vh;
        position: relative;
    }
    
    
    /* ---------------------------------      Page 4      ---------------------------- */
    
    #stakeholder-page{
        height: 100vh;
        width: 100vw;
        position: relative;
        background-color: #1137ca;
        font-family: d;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 8.5vw;
    }
    
    #stakeholder-page>h3{
        color: #ffffffd8;
        font-weight: 100;
        margin-bottom: 10vw;
        font-size: 3.5vw;
        text-transform: uppercase;
    }
    
    #stakeholder-page>h2{
        line-height: 1.2;
        font-size: 7.5vw;
        font-weight: 100;
        width: 95%;
        color: #dadada69;
    }
    
    
    /* ---------------------------------      Page 5 - Canvas      ---------------------------- */
    
    
    #page5{
        position: relative;
        width: 100vw;
        height: 100vh;
    }
    
    #page5>canvas{
        max-width: 100vw;
        max-height: 100vh;
        position: relative;
    }
    
    
    /* ---------------------------------      Page 6      ---------------------------- */
    
    #page6{
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-family: d;
        padding: 0 8.5vw;
        background-color: #0a3cce;
    }
    
    #page6>h3{
        color: #ffffffd8;
        font-weight: 100;
        margin-bottom: 10vw;
        font-size: 3.5vw;
        text-transform: uppercase;
    }
    
    #page6>h2{
        line-height: 1.2;
        font-size: 7.5vw;
        font-weight: 100;
        width: 95%;
        color: #dadada69;
    }
    
    
    /* ---------------------------------      Page 7 - Canvas      ---------------------------- */
    
    #page7{
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: #0a3cce;
    }
    
    #page7>canvas{
        position: relative;
        max-width: 100vw;
        max-height: 100vh;
    }
    
    #page8-circle{
        height: 30vw;
        width: 30vw;
        /* background-color: yellowgreen; */
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #page8-innerCircle{
        height: 70%;
        width: 70%;
        border-radius: 50%;
        border: 1px solid #fff;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: d;
        font-size: 2.1vw;
        text-transform: uppercase;
    }
    
    
     /* ---------------------------------      Page 8      --------------------------  */
    
    #page8{
        height:100vh;
        width: 100vw;
        position: relative;
        background-color: #0a3cce;
    }
    
    #page8>video{
        height: 100%;
        width:  100%;
        object-fit: cover;
        object-position: center center;
    }
    
    #pg8-btm{
        z-index: 3;
        position: absolute;
        bottom: 10%;
        /* background-color: yellowgreen; */
        color: #fff;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    
    #pg8-btm>h2{
        font-size: 7vw;
        margin-bottom: 2vw;
        font-family: d;
        font-weight: 100;
    }
    
    #pg8-btm>button{
        border-radius: 25px;
        padding: 14px 32px;
        background-color: #fff;
        color: #0b48ed;
        border: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        cursor: pointer;
    }
    
    
    
    /* ---------------------------------      Page 9      --------------------------  */
    
    #page9{
        /* max-height: 100vh; */
        position: relative;
        width: 100vw;
        background-color: #0B3CCC;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-family: d;
        padding: 14vw 20px;
        gap: 5vw;
    }
    
    #pg9-left{
        height: 100%;
        width: 100%;;
        /* background-color: yellow; */
    }
    
    #pg9-left>h2{
        margin-top: 2vw;
        font-weight: 100;
        font-size: 15vw;
        text-align: left;
        line-height: 1;
    }
    
    #pg9-right{
        height: 100%;
        width: 100%;;
        /* background-color: yellowgreen; */
        padding-right: 0vw;
    }
    
    #pg9-img{
        width: 100%;
        height: 220px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    #pg9-img>img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    #pg9-right>h3{
        margin-top: 70px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 4vw;
    }
    
    #pg9-right>p{
        color: #ffffffb4;
        margin-bottom: 40px;
        font-size: 4vw;
        text-align: justify;
    }
    
    
    /* ---------------------------------      Page 10      --------------------------  */
    
    #page10{
        /* height: 100%;
        width: 100%; */
        padding: 40px 20px ;
        background-color: #fff;
        color: black;
        font-family: d;
    }
    
    #page10>h2{
        font-size: 12vw;
        font-weight: 100;
    }
    
    #page10 .pg10-inner{
        width: 100%;
        margin: 30px 0 60px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .pg10-inner .pg10-inner-img{
        height: 220px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .pg10-inner .pg10-inner-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: ease 0.3s;
    }
    
    .pg10-inner .pg10-inner-img img:hover{
        scale: 1.05;
    } 
    
    .pg10-inner .pg10-inner-text{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
    }
    
    .pg10-inner .pg10-inner-text p{
        text-transform: uppercase;
        opacity: 0.4;
        font-size: 3.2vw;
        margin: 10px 0;
    }
    
    .pg10-inner .pg10-inner-text h2{
        font-weight: 100;
        opacity: 0.8;
        font-size: 4.5vw;
    }
    
    #page10 button{
        border: 1px solid #0a3cce;
        color: #0a3cce;
        background-color: #fff;
        font-size: 4vw;
        padding: 10px 25px;
        border-radius: 20px;
        display: block;
        margin: auto;
    }
    
    
    /* ---------------------------------      Page 11      --------------------------  */
    
    
    #featured{
        background-color: #02268E;
        position: relative;
        width: 100vw;
        height: 45vh;
        color: #fff;
        font-family: d;
    }
    
    #featured #featured-text{
        position: absolute;
        right: 10%;
        top: 25%;
        width: 60%;
    }
    
    #featured-text h2{
        font-size: 6vw;
        font-weight: 100;
    }
    
    #featured-text p{
        margin-top: 10px;
        opacity: 0.7;
    }
    
    
    
    /* ---------------------------------      Page 12      --------------------------  */
    
    #social{
        position: relative;
        /* height: 100vh; */
        width: 100vw;
        background-color: #0F0F17;
        color: #fff;
        font-family: d;
    }
    
    #social-text{
        padding-top: 110px;
        margin-left: 40px;
    }
    
    #social-text>h2{
        font-size: 12vw;
        font-weight: 100;
        margin-bottom: 40px;
        line-height: 1;
        font-family: d;
    }
    
    #social-text>button{
        border: none;
        background-color: #0A3CCE;
        font-size: 3vw;
        padding: 14px 32px;
        border-radius: 25px;
        color: #fff;
        text-transform: uppercase;
        opacity: 0.9;
        font-family: d;
        margin-bottom: 70px;
        cursor: pointer;
    }
    
    #social .social-platform{
        padding: 35px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ffffff3b;
        /* background-color: rgba(255, 255, 0, 0.37); */
        position: relative;
        cursor: pointer;
    }
    
    .social-platform:nth-child(6){
        border-bottom: 1px solid #ffffff3b;
    }
    
    .social-platform h2{
        font-size: 4.5vw;
        font-weight: 100;
        z-index: 9;
    }
    
    .social-platform i{
        font-size: 4vw;
        z-index: 9;
    }
    
    .overlay{
        position: absolute;
        background-color: #0A3CCE;
        height: 0;
        width: 100%;
        left: 0;
        transition: ease .4s;
    }
    
    #social .social-platform:hover .overlay{
        height: 100%;
    }
    
    #footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 70px 40px;
        flex-direction: column;
        color: #fff;
        gap: 50px;
        /* background-color: rgba(0, 0, 255, 0.315); */
    }
    
    #footer #ftr-left{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-transform: uppercase;
        /* background-color: rgba(255, 255, 0, 0.342); */
        gap: 150px;
    }
    
    #ftr-left p {
        font-size: 2.5vw;
        margin-bottom: 10px;
        font-weight: 100;
    }
    
    #ftr-right p{
        margin-bottom: 15px;
        text-transform: capitalize;
        font-size: 4vw;
    }
    
    #ftr-right input{
        outline: none;
        border: none;
        border-bottom: 1px solid #ffffff83;
        background-color: transparent;
        padding: 7px 0;
        color: #fff;
        width: 270px;
    }
    
    #ftr-right i{
        margin-left: -20px;
    }
    
    p.copyright{
        font-size: 2.3vw;
        text-transform: uppercase;
        margin-left: 40px;
        padding-bottom: 50px;
    }




}